<style type="text/css">
body {
	background: #000;
}

</style>
<div id="wrapper" style="margin:auto">
	
	<center>
	<% for i in 0..5 %>
	<img src="http://bestanimations.com/Humans/Skulls/Skull-04-june.gif" style="margin:auto;">
	
	<% if i == 2 %>
	</center>
		<h1 style="color: #fff;text-align:center">Zmote-app website death power!!!</h1>
		<br/>
		<center>
	<% end %>
	<% end %>
	</center>
</div>