<style type="text/css">
body {
	background: #000;
	font-family: Helvetica, sans-serif;
	font-weight: 100
}
#wrapper {
	width: 480px;
	margin:auto;
}
h1 {
	font-weight: 700;
	color: #fff;
}
p {
	font-size:12px;
	color: #fff;
	text-align:left;
}
#copyright {
	font-size:12px;
	color: #666;
	text-align:center;
}

</style>

<div id="wrapper" style="margin:auto:margin-top: 200px">
	<center>
		<% for i in 0..5 %>
		<img src="http://bestanimations.com/Humans/Skulls/Skull-04-june.gif">
		<% if i == 2 %>
		<h1>Zmote-app website of DOOM!!!</h1>
		<p>Returns a <a href="/test/json">json object:</a></br>		</p>
		<br/>
		<% end %>
		<% end %>
	</center>
</div>
<p id="copyright">Copyright © Viktor Dahl 2012</p>