<style type="text/css">
body {
	background: #000;
	font-family: Helvetica, sans-serif;
	font-weight: 100
}
h1 {
	font-weight: 700;
}
p {
	font-size:12px;
}
</style>
<div id="wrapper" style="margin:auto">

	<center>
		<% for i in 0..5 %>
		<img src="http://bestanimations.com/Humans/Skulls/Skull-04-june.gif" style="margin:auto;">

		<% if i == 2 %>
		<h1 style="color: #fff">Zmote-app website of death!!!</h1>
		<br/>
		<% end %>
		<% end %>
	</center>
</div>
<p style="color: #666;text-align:center;">Copyright © Z-app 2012. www.z-app.se</p>